@model Test2.Models.Team

@{
    ViewData["Title"] = "Resursen er tilføjet";
}

<h1>Resursen er tilføjet</h1>
<h2>@Html.DisplayFor(model => model.TeamName)</h2>

<div class="table-wrapper">
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Metal)
            </th>
            <td>
                @Html.DisplayFor(model => model.Metal)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Wood)
            </th>
            <td>
                @Html.DisplayFor(model => model.Wood)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Cloth)
            </th>
            <td>
                @Html.DisplayFor(model => model.Cloth)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Plastic)
            </th>
            <td>
                @Html.DisplayFor(model => model.Plastic)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.StarTtime)
            </th>
        </tr>
    </table>
</div>

<hr />
<p>
    Husk at i skal være færdige inden 
    @(Model.StarTtime+TimeSpan.FromMinutes(15))
</p>
