@model Test2.Models.Team

@{
    ViewData["Title"] = "Køb fuldført";
}


@if ((bool)ViewData["Bought"] == true)
{
    <h2>I har købt <strong>@ViewData["amount"] @ViewData["ItemName"]</strong></h2>
}
else
{
    <h2>Købet kunne ikke fuldføres</h2>
}

<div class="table-wrapper">
    <table>
        <tr>
            <th>
                Metal
            </th>
            <td>
                @Html.DisplayFor(model => model.Metal)
            </td>
        </tr><tr>
            <th>
                Træ
            </th>
            <td>
                @Html.DisplayFor(model => model.Wood)
            </td>
        </tr><tr>
            <th>
                Stof
            </th>
            <td>
                @Html.DisplayFor(model => model.Cloth)
            </td>
        </tr><tr>
            <th>
                Plastik
            </th>
            <td>
                @Html.DisplayFor(model => model.Plastic)
            </td>
        </tr>
    </table>
</div>

<hr />
<p>
    Husk at i skal være færdige inden 
    @(Model.StarTtime+TimeSpan.FromMinutes(15))
</p>
