@model IEnumerable<Test2.Models.Team>

@{
    ViewData["Title"] = "Holdoversigt";
}

<h1>Holdoversigt</h1>

<div class="table-wrapper">
<table class="table">
    <thead>
        <tr>
            <th>
                Hold
            </th>
            <th>
                Starttid
            </th>
            <th class="number">
                Metal
            </th>
            <th class="number">
                Træ
            </th>
            <th class="number">
                Stof
            </th>
            <th class="number">
                Plastik
            </th>
            <th class="number">
                Antal handlinger
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarTtime)
            </td>
            <td class="number">
                @Html.DisplayFor(modelItem => item.Metal)
            </td>
            <td class="number">
                @Html.DisplayFor(modelItem => item.Wood)
            </td>
            <td class="number">
                @Html.DisplayFor(modelItem => item.Cloth)
            </td>
            <td class="number">
                @Html.DisplayFor(modelItem => item.Plastic)
            </td>
            <td class="number">
                @Html.DisplayFor(modelItem => item.NumberOfActions)
            </td>
            <td>
                <a asp-action="ShowTeamBuys" asp-route-id="@item.TeamID">Vis køb</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
